@page
@model Ghostchef.Pages.Products.AllModel

@{
    ViewData["Title"] = "Måltidskasser";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Data)
        {
            var cardClass = product.InStock ? "card" : "card bg-light text-secondary";
            <div class="col-md-4 mb-3">
                <div class="@cardClass">
                    <div class="card-header">
                        @product.Name
                    </div>
                    <div class="card-body">
                        <p class="card-text">@product.Description</p>
                        <h5>Ingredients:</h5>
                        <ul>
                            @foreach (var ingredient in product.Ingredients)
                            {
                                <li>@ingredient.ToString()</li>
                            }
                        </ul>
                        <h5>Diets:</h5>
                        <ul>
                            @foreach (var diet in product.Diets)
                            {
                                <li>@diet.ToString()</li>
                            }
                        </ul>
                        <h5>Allergies:</h5>
                        <ul>
                            @foreach (var allergy in product.Allergies)
                            {
                                <li>@allergy.ToString()</li>
                            }
                        </ul>
                        @if (!product.InStock)
                        {
                            <p class="text-danger" style="font-size: 20px; font-weight: bold;">UDSOLGT</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>